/* Fonts */

/*Work Sans*/
	@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');
	/*CSS: 
	font-family: 'Work Sans', sans-serif;
	*/

/*Delius Swash Cap*/
	@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
	/*CSS: 
	font-family: 'Delius Swash Caps', cursive;
	*/

/* General */

	body.content_type_clase_Actualidad2000PRIM {
		font-size: 1.8rem;
		font-family: 'Work Sans', sans-serif;
	}

	body.content_type_clase_Actualidad2000PRIM #actividad .content img {
		padding: 5px;
	}


	.is_app.content_type_clase_Actualidad2000PRIM {
		padding-top: 0px;
	}

	.content_type_clase_Actualidad2000PRIM #actividad {
		margin-bottom: 0px;
		-webkit-transform: none;
		-webkit-transform-style: flat;
	}

	#actividad .carousel-inner .item-container {
		background-image: none;
		margin: 20px auto 30px;
		padding: 0px;
		padding-bottom: 90px;
		position: relative;
		background-image: url(/useruploads/r/a/182926876/activity_other_imported/Pruebafondoslide.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position-y: bottom;
		padding-bottom: 180px;
	}
	

	.content_type_clase_Actualidad2000PRIM #actividad .slide-concatenate {
		margin-top: 30px;
	}

	.content_type_clase_Actualidad2000PRIM #actividad .content .header .title img,
	.content_type_clase_Actualidad2000PRIM #actividad .content .header .chapter {
		display: none;
	}

	#indice .units ul li a .number,
	#indice .unit-content .header .number
	 {
		visibility: hidden;
	}

	.content_type_clase_Actualidad2000PRIM #actividad .content .header {
		border: none;
		margin-bottom: 0;
	}
	.content_type_clase_Actualidad2000PRIM #actividad .content .header:after {
		content: "";
		padding: 71px;
		background-image: url(/useruploads/r/a/182884736/activity_other_imported/logo_777475.png);
		position: absolute;
		top: 24px;
		background-size: contain;
		background-repeat: no-repeat;
		right: 38px;
	}

	.content_type_clase_Actualidad2000PRIM #actividad .content .header .title {
		padding: 45px 98px;
		-webkit-box-shadow: 0px 5px 6px #00000030;
		-moz-box-shadow: 0px 5px 6px #00000030;
		box-shadow: 0px 5px 6px #00000030;
		background: rgba(150,15,38,1);
		background: -moz-linear-gradient(left, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(150,15,38,1)), color-stop(100%, rgba(186,30,74,1)));
		background: -webkit-linear-gradient(left, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%);
		background: -o-linear-gradient(left, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%);
		background: -ms-linear-gradient(left, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%);
		background: linear-gradient(to right, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%);
		margin: -40px 0 40px 0;
	}
	

	.content_type_clase_Actualidad2000PRIM #actividad .content .slide-concatenate .header .title {
		display: none;
	}

	.content_type_clase_Actualidad2000PRIM #actividad .content .header .title h3 {
		position: relative;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		color: #fff;
		font-size: 24px;
		font-weight: 700;
		text-align: left;
	}


	.content_type_clase_Actualidad2000PRIM #actividad .slide_content_type_1 .pregunta .texto_curso,
	.content_type_clase_Actualidad2000PRIM #actividad .texto_curso,
	.html-book {
		font-size: 1.8rem;
	}

	.texto_curso p:last-of-type {
		margin-bottom: 15px;
	}

	.content_type_clase_Actualidad2000PRIM #actividad .texto_curso li,
	.content_type_clase_Actualidad2000PRIM #actividad .workspace ul li li {
		margin-bottom: 10px;
	}

	#actividad .class_slide {
    	padding: 40px 0 0;
	}

	#actividad .class_slide:last-of-type {
	    padding-bottom: 0px;
	}

	#actividad .slide-concatenate .class_slide {
	    padding-bottom: 20px;
	}

	#actividad .slide-concatenate:last-of-type .class_slide {
	    padding-bottom: 100px;
	}

	.content_type_clase_Actualidad2000PRIM .slide_main {
		padding: 0 97px;
	}

	@media screen and (max-width: 480px) {
		.content_type_clase_Actualidad2000PRIM .slide_main {
			padding: 0 35px;
		}
	}

	.content_type_clase_Actualidad2000PRIM .slide_main input,
	.content_type_clase_Actualidad2000PRIM .slide_main .img-input-container {
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		        border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		     box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
	}

	.content_type_clase_Actualidad2000PRIM .slide_main input:focus,
	.content_type_clase_Actualidad2000PRIM .slide_main .img-input-container:focus {
		border-top-color: #3AC62A;
		border-right-color: #3AC62A;
		border-bottom-color: #3AC62A;
		border-left-color: #3AC62A;
		outline-width: 0px;
		outline-style: none;
		-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
		   -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
		        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
	}

	.content_type_clase_Actualidad2000PRIM .slide_main input[disabled],
	.content_type_clase_Actualidad2000PRIM .slide_main input[readonly],
	fieldset[disabled] .content_type_clase_Actualidad2000PRIM .slide_main input,
	.content_type_clase_Actualidad2000PRIM .slide_main .img-input-container {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1;
	}

	.content_type_clase_Actualidad2000PRIM .slide_main .img-input-container input[readonly],
	.content_type_clase_Actualidad2000PRIM .slide_main .img-input-container input[disabled] {
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.content_type_clase_Actualidad2000PRIM .slide_main input.respuesta_ok,
	.content_type_clase_Actualidad2000PRIM .slide_main .img-input-container.respuesta_ok {
		border-color: #57e900;
		background: #D1F3BD;
	}

	.content_type_clase_Actualidad2000PRIM .slide_main input.respuesta_ko,
	.content_type_clase_Actualidad2000PRIM .slide_main .img-input-container.respuesta_ko {
		border-color: #FF3626;
		background: #FFA49D;
	}

	.content_type_clase_Actualidad2000PRIM .slide_main input.solucion,
	.content_type_clase_Actualidad2000PRIM .slide_main .img-input-container.solucion {
		border-color: #00BDFF;
		background: #B6ECFF;
	}

	.zoom_flag_img {
		top: 15px;
		right: 15px;
	}
/**/

/* Navbar */
	.navbar-bottom {
		background: #132E4C;
		padding-left: 100px;
		padding-right: 100px;
	}

	.logo-publisher {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
		height: 44px;
		background: url(logo-pearson.png) 0 0 no-repeat;
		-webkit-background-size: contain;
		   -moz-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
		background-position: center center;

	}

	@media only screen and (max-width: 640px) {
		.navbar-bottom {
			padding-left: 40px;
			padding-right: 40px;
		}

		.logo-publisher {
			width: 40px;
			background-image: url(Pearson-logo-2016-219x286.png);
		}
	}

	.slider-indicators {
	    padding-left: 0px;
	    padding-right: 0px;
	    white-space: nowrap;
	}
	.edit .slider-indicators {
		white-space: normal;
	}
	.slider-indicators li,
	.edit .slider-indicators li {
		background-color: #ffffff;
	    color: #005840;
	}

	.slider-indicators .active,
	.edit .slider-indicators .active,
	.slider-indicators li:hover,
	.edit .slider-indicators .concat.active,
	.slider-indicators .active {
	    background-color: #007FA3;
	    color: #ffffff;
	}

	.edit .slider-indicators .concat.active:before {
 		background-color: #007FA3;
	}

	#bottom-navigator {
		overflow: hidden;
		position: relative;
	}
	#bottom-navigator .slider-indicators {
		margin-left: auto;
		margin-right: auto;
	}
	#bottom-navigator .slider-indicators:after {
		content: '';
		display: table;
		clear: both;
	}
	#bottom-navigator li {
		width: 18px;
		height: 18px;
		margin: 2px 5px;
		background: #fff;
		color: transparent;
		line-height: 2.2rem;
		font-size: 1.8rem;
		font-weight: bold;
		text-indent: initial;
	}
	#bottom-navigator li:hover {
		background: rgb(142, 206, 224);
		color: transparent;
	}
	#bottom-navigator li.active {
		background: #007FA3;
		color: transparent;
	}
	#bottom-navigator.show_left:before {
		content: '\F053';
		font-family: 'FontAwesome';
		position: absolute;
		left: 0;
		z-index: 100;
		color: #ffffff;
		top: 10px;
		height: 35px;
		line-height: 5.4rem;
		width: 20px;
		text-align: left;
		background: -webkit-gradient(linear, left top, right top, from(#132E4C), to(transparent));
		background: -webkit-linear-gradient(left, #132E4C, transparent);
		background: -moz-linear-gradient(left, #132E4C, transparent);
		background: -o-linear-gradient(left, #132E4C, transparent);
		background: linear-gradient(to right, #132E4C, transparent);
	}

	#bottom-navigator.show_right:after {
		content: '\F054';
		font-family: 'FontAwesome';
		position: absolute;
		right: 0;
		color: #ffffff;
		top: 10px;
		height: 35px;
		line-height: 5.4rem;
		width: 20px;
		text-align: right;
		background: -webkit-gradient(linear, right top, left top, from(#132E4C), to(transparent));
		background: -webkit-linear-gradient(right, #132E4C, transparent);
		background: -moz-linear-gradient(right, #132E4C, transparent);
		background: -o-linear-gradient(right, #132E4C, transparent);
		background: linear-gradient(to left, #132E4C, transparent);
	}

/**/

/*TITULO 1*/

.bck-title1 {
    position: relative;
    box-shadow: none;
    font-family: 'Work Sans', sans-serif;
    color: #009DB2;
    border: 0;
    text-shadow: none;
    font-weight: 700;
    font-size: 22px;
    padding: 0;
    background: #ffffff;
    display: inline;
	z-index: 1;
	letter-spacing: 0;
}
.bck-title1:after {
    content: "";
    border: 2px #B6DDE6 solid;
    display: block;
    margin-top: -14px;
    z-index: -2;
    border-left: 0;
    border-right: 0;
	min-height: 10px;
	margin-bottom: 10px;
}

/*TITULO 2*/
.bck-title2:before {
    content: "";
    padding: 48px 52px;
    background-image: url(/useruploads/r/a/183144056/activity_other_imported/Iconoprueba-Lohacemosyaprendemos_791892.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -47px;
}
.bck-title2 {
    color: white;
    text-shadow: none;
    background: #D81764;
    font-family: "Work Sans", sans-serif;
    letter-spacing: 0;
    font-size: 24px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 10px 10px 10px 0px;
    margin-left: -24px;
}

/* Lists */
/*Listas en ck-editor*/
.cke_contents ol li:before{
	margin-left:0 !important;
}

.texto_curso ul li,
.workspace ul li ul li,
.cke_contents ul li {
	padding-left: 30px;
}

.texto_curso ul li:before,
.workspace ul li ul li:before,
.cke_contents ul li:before {
	width: 4px;
	height: 4px;
	background-color: #414141;
}

.content .bck-ol,
.cke_contents .bck-ol,
.content ol,
.cke_contents ol {
	list-style-type: none;
	padding-left: 0;
	counter-reset: bck-li-counter;
}

.content .bck-ol li,
.cke_contents .bck-ol li,
.content ol li,
.cke_contents ol li {
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 16px;
	counter-increment: bck-li-counter;
	position: relative;
	line-height: 1.1rem;
}

.content .bck-ol1 li,
.cke_contents .bck-ol1 li {
	font-weight: 700;
}

.content ol li:before,
.cke_contents ol li:before,
.content .bck-ol1 li:before,
 .cke_contents .bck-ol1 li:before {
    content: counter(bck-li-counter)".";
    width: 24px;
    height: 24px;
    color: #960F26;
    text-align: center;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin-left: -26px;
	margin-right: 3px;
	vertical-align: bottom;
}

/*LISTA ORDENADA 2*/

.content .bck-ol2 li:before,
.cke_contents .bck-ol2 li:before {
	content: counter(bck-li-counter, lower-alpha)".";
    color: #005592;
    box-shadow: none;
    border: 0;
    font-size: 20px;
    line-height: 1;
	vertical-align: sub;
	margin-left: -8px;
}

/*Lista ordenada verde*/
.content .bck-ol3 li:before,
 .cke_contents .bck-ol3 li:before {
    box-shadow: none;
    color: #00944F;
    font-size: 22px;
    font-weight: 700;
    position: relative;
}
.content .bck-ol3 li,
.cke_contents .bck-ol3 li {
	font-weight: 700;
}

/*Lista ordenada rosa*/
.content .bck-ol4 li:before,
 .cke_contents .bck-ol4 li:before {
    content: counter(bck-li-counter)".";
    background: none;
    font-size: 22px;
    color: #DC176F;
    position: relative;
    width: 24px;
    height: 24px;
    text-align: center;
    font-weight: 700;
}
.content .bck-ol4 li,
.cke_contents .bck-ol4 li {
	font-weight: 700;
}




/*LISTA DESORDENADA POR DEFECTO*/

.texto_curso ul li:before, .workspace ul li ul li:before, .cke_contents ul li:before {
    width: 6px;
    height: 6px;
    background-color: #414141;
}

/*CAJAS*/

.bck-box {
	margin: 10px;
	border: 2px solid #10a0c6;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	background: #fff;
	padding: 6px;
}

.bck-box .bck-content p:last-child {
	margin-bottom: 0;
}

/* Caja 2 */
.bck-box.bck-box2 {
	-webkit-box-shadow: 0 3px 0 #BCBDC0;
	   -moz-box-shadow: 0 3px 0 #BCBDC0;
	        box-shadow: 0 3px 0 #BCBDC0;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	padding: 6px 15px;
	text-align: center;
}

/* Caja 3 */
.bck-box.bck-box3 {
	position: relative;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	   -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	        box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	-webkit-transform: rotate(2deg);
	   -moz-transform: rotate(2deg);
	    -ms-transform: rotate(2deg);
	     -o-transform: rotate(2deg);
	        transform: rotate(2deg);
}

.bck-box.bck-box3 .bck-title {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	display: inline-block;
	border: 1px solid #10a0c6;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	background: #fff;
	padding: 0 6px;
}

.bck-box.bck-box3 .bck-title p {
	display: inline;
}

.bck-box.bck-box3 .bck-content {
	margin-top: 15px;
}

/*ÉNFASIS*/
.bck-enfasis-1 {
	color: #DD503C;
}
.bck-enfasis-2 {
	color: #6F2670;
}
.bck-enfasis-3 {
	color: #00944F;
}
.bck-enfasis-4 {
	color: #00A2E3;
}


/*TABLA POR DEFECTO*/

.content table:not(.rf-tablegrid) td,
.content table:not(.rf-tablegrid) th {
    border: 3px solid #fff;
    padding: 10px;
    background: #D4EAE4;
}

.content table:not(.rf-tablegrid) {
    border: 1px solid #F37731;
    margin-bottom: 20px;
}

/* Icons */

#actividad .player.audio {
	background: url(images/Icon_audio.png) center center / cover;
}

.item-container .icon:before {
	content: "";
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	   -moz-background-size: auto 100%;
	     -o-background-size: auto 100%;
	        background-size: auto 100%;
	background-position: center center;
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width: 54px;
	margin-top: -16px;
}

.item-container .icon-draw:before {
	background-image: url(images/Icon_draw.png);
}

.item-container .icon-write:before {
	background-image: url(images/Icon_write.png);
}

.item-container .icon-speaking:before {
	background-image: url(images/Icon_speaking.png);
}

.item-container .icon-reading:before {
	background-image: url(images/Icon_reading.png);
}

.item-container .icon-star:before {
	background-image: url(images/Icon_star.png);
}

/* Forms */
.content_type_clase_Actualidad2000PRIM .slide_main input,
 .content_type_clase_Actualidad2000PRIM .slide_main .img-input-container {
    border: 0;
    background: #f6f6f6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 4px #00000036;
    -moz-box-shadow: 3px 3px 4px #00000036;
    box-shadow: 3px 3px 4px #00000036;
	border: 3px solid #960F26;
	-moz-transition: padding 0.3s ease-in-out;
	-webkit-transition: padding 0.3s ease-in-out;
	transition: padding 0.3s ease-in-out;
}


.content_type_clase_Actualidad2000PRIM .slide_main .fill-text .img-input-container {
    display: none;
}

.content_type_clase_Actualidad2000PRIM .slide_main input:focus,
 .content_type_clase_Actualidad2000PRIM .slide_main .img-input-container:focus {
    border-color: #999999;
    border-bottom: 5px solid #999999;
	padding: 3px 10px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Slides */

#actividad .workspace.multiple-choice .opcion,
#actividad .workspace.matching .opciones .opcion:not(.ko):not(.ok),
#actividad .workspace.ordenar .js-rank-item {
	border: 0;
    -moz-box-shadow: 7px 8px 13px 1px #00000029;
    -webkit-box-shadow: 7px 8px 13px 1px #00000029;
    box-shadow: 7px 8px 13px 1px #00000029;
}

#actividad .workspace.matching .opciones .opcion.emparejado.destino {
    border-width: 2px 2px 2px 0;
}

#actividad .workspace.matching .opciones .opcion.emparejado.origen {
    border-width: 2px 0 2px 2px;
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
    border: 0px solid #d8d8d8;
}

#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 0;
    -webkit-box-shadow: 1px 4px 10px #0000003d;
    -moz-box-shadow: 1px 4px 10px #0000003d;
    box-shadow: 1px 4px 10px #0000003d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 10px;
}


.fillblanks-draggable-wrapper .response {
    border: 0px solid #d8d8d8;
    background: #c1e5f7;
}

.fillblanks-draggable-wrapper .response .bck-i-fullscreen-wrapper {
    padding: 0;
}

body.content_type_clase_Actualidad2000PRIM #actividad .content .fillblanks-draggable-wrapper
.response .bck-i-fullscreen,
body.content_type_clase_Actualidad2000PRIM #actividad .content .fillblanks-draggable
.img-input-container.imgFilled img {
	width: auto;
	height: 100px !important;
	padding: 0;
}

/*Plantilla TEST*/
#actividad .workspace.test .respuestas li {
    width: auto;
    display: block;
    vertical-align: top;
    box-shadow: 3px 3px 7px 0px #00000030;
    border-radius: 9px;
    margin: 20px 0;
    -moz-transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	padding: 0;
}
#actividad .workspace.test .respuestas li:hover {
    background: #e5e5e5;
}
.checkbox-option label.filter-label:before,
 .slides_averages #cont_checkSelfCorrect label:before,
  .slides_averages #cont_checkEvaluation label:before,
   .radio-option label.filter-label:before {
	   filter: grayscale(1);
}
.checkbox-option input.filter-checkbox[type="checkbox"]+label.filter-label,
    .radio-option input.filter-radio[type="radio"]+label.filter-label {
		display: block;
		padding: 10px 25px;
}

/*BOTONERA*/
.btn-danger, .btn-danger[disabled] {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #fc4237;
    color: #fc4237;
    background: white;
    font-weight: 700;
}
.btn-primary, .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #999999;
    color: #999999;
    background: white;
    font-weight: 700;
}
.btn-primary:not([disabled]):hover, .btn-primary:not([disabled]):focus, .btn-primary:not([disabled]):active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #999999;
	border-color: #999999;
	color: white
}
#actividad .content .review .attemps span {
    background-color: #999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.btn-primary[disabled], .btn-primary[disabled]:focus {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}
